html {
  background-image: url("img/zt1.jpg");
}
.text {
  text-align: center;
  background-color: white;
  opacity: 0.8;
  margin: 40px;
  font-family: 'Indie Flower', cursive;
  color: #4d3319;
}
h1 {
  font-family: 'Playfair Display', serif;
}
.star {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how {
 display: flex;
 justify-content: space-around;
}
.img-circular{
 width: 400px;
 height: 400px;
 background-image: url('img/xoxo.jpg');
 background-size: cover;
 display: block;
 border-radius: 50%;
}
.img-circular2 {
 width: 400px;
 height: 400px;
 background-image: url('img/xo.jpg');
 background-size: cover;
 display: block;
 border-radius: 50%;
}
.img-circular3 {
 width: 400px;
 height: 400px;
 background-image: url('img/xox.jpg');
 background-size: cover;
 display: block;
 border-radius: 50%;
}
.img-circular3:hover {
  transform: scale(1.5);
  transition: all .50s ease-in-out;;
}
.img-circular2:hover {
  transform: scale(1.5);
  transition: all .50s ease-in-out;;
}
.img-circular:hover {
  transform: scale(1.5);
  transition: all .50s ease-in-out;
}
form {
  padding-top: 20px;
}
h2 {
  color: white;
  opacity: 0.5;
  font-family: 'Indie Flower', cursive;
  padding: 0;
  margin: 0;
  text-align: center;
  background: url('img/ar2.png') center / 100px 60px no-repeat;
}
h2:hover {
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}
a {
  text-decoration: none;
}
@media (max-width:480px) {
.img-circular2 {
 width: 200px;
 height: 200px;
}
.img-circular{
 width: 200px;
 height: 200px;
}

.img-circular3 {
 width: 200px;
 height: 200px;
}
